{% extends 'talk/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="container" id="about">
    <h1>About Me</h1>
    <p> I'm<a href="https://www.jajoul.me"> Jajoul</a> . As a back-end developer, I spend my time crafting the logic and systems that power applications. In this tutorial course, I'm going to guide you through my approach and teach you the fundamentals that I believe are essential for a successful career in back-end development.</p>
</section>
<section class="container" id="donate">
    <h1>Donate</h1>
    <p>If you like this project please consider donating by clicking below: <a href="#">Donate</a>.</p>
</section>
{% endblock %}